{% extends 'base.html' %}
    {% block title %}A Compliment{% endblock %}
 {% block content %}

    Hi {{ person }}! I think you're <br>
    <ul>
        {% for compliment in compliments %}
            <li>{{ compliment }}</li>
        {% endfor %}
    </ul>
    <form action="/game">
        Would you like to play a game?<br>
        <input type="radio" name="playgame" value="yes">Yes
        <input type="radio" name="playgame" value="no">No<br>
        <input type="submit">
    </form>

{% endblock %}